* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f2f5;
  color: #1c1e21;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  display: flex;
  gap: 60px;
  max-width: 980px;
  padding: 20px;
}

.brand {
  max-width: 500px;
}

.logo {
  color: #1877f2;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.tagline {
  font-size: 1.5rem;
}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group label {
  position: absolute;
  left: -9999px;
}

.form-group input {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}

.login-button {
  background-color: #1877f2;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
}
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.forgot-password {
  text-align: center;
  font-size: 0.9rem;
  color: #1877f2;
  text-decoration: none;
}

.divider {
  height: 1px;
  background-color: #dadde1;
  margin: 10px 0;
}

.create-account {
  align-self: center;
  background-color: #42b72a;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}


.create-page-message {
  margin-top: 16px;
  font-size: 0.9rem;
  text-align: center;
}


.create-page-link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.create-page-link:hover {
  text-decoration: underline;
}


.language-list,
.link-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.language-list a,
.link-list a {
  color: #8a8d91;
  text-decoration: none;
}

.language-list a:hover,
.link-list a:hover {
  text-decoration: underline;
}

.more-languages {
  border: 1px solid #ccd0d5;
  background: none;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 0.8rem;
}

.footer nav {
  margin-bottom: 6px;
  margin-top: 6px;
}

.footer p {
  text-align: left;
}

.footer {
  background-color: #ffffff;
  padding: 20px 20px;
  font-size: 0.8rem;
  color: #8a8d91;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > nav,
.footer > p {
  max-width: 980px;
  width: 100%;
}
.footer-divider {
  width: 100%;
  max-width: 980px;
  border: none;
  border-top: 1px solid #8a8d91;
}
